 .curved-div {
   transform: skewY(-2deg)  translate(0px,-25px);
   background-color: green;
   height: 100px;
 }
 
  .curved-div-down {
   transform: skewY(-2deg)  translate(0px,25px);
   background-color: green;
   height: 100px;
 }
 
 .navbar-added {
 	 transform: skewY(-2deg)  translate(0px,-24px);
	 background-color: #343a40!important;
	 height: 30px;
 }
 
 img {
 }