.grey_balken_stretch_unten {
  width: 100%;
  height: 150px;
  background: url("../../assets/img/grey_down.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
  z-index: 50;
  position: relative;
}

.grey_balken_stretch_oben {
  width: 100%;
  height: 150px;
  background: url("../../assets/img/grey_up.png");
  background-position: bottom center;
  background-size: 100% auto;
  background-repeat: no-repeat;
  z-index: 50;
  position: relative;
}

.content {
  min-height: 180px;
}

.grey_balken_stretch {
  background-color: #343a40;
  width: 100%;
  position: relative;
  text-align: center;
  color: white;
}

.grey_balken_stretch p {
  margin: 0;

}
